:root {
    
/*-----------------------------------*\
 * #COLORS
\*-----------------------------------*/
    --whispering-white: hsl(0, 0%, 88%);
    --pearly-white: hsl(0, 0%, 85%);
    --elegant-ivory: hsl(260, 12%, 95%);
    --deep-purple: hsl(300, 100%, 25%);
    --absolute-black: hsl(0, 0%, 0%);
    --pure-white: hsl(0, 0%, 100%);
    --soft-ice-white: hsl(0, 0%, 92%);


/*-----------------------------------*\
 * #FONT FAMILLY
\*-----------------------------------*/

    --ff-roboto: 'Roboto', sans-serif;
    --ff-josefin-sans: 'Josefin Sans', sans-serif;

    --transition-1: 0.25s ease;
}


/*-----------------------------------*\
 * #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html {
    font-family: var(--ff-josefin-sans);
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background: var(--soft-ice-white);
    font-size: 1.6rem;
    padding-top: 90px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 90vh;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: hsl(0, 0%, 95%);
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(0, 0%, 70%);
}


/*-----------------------------------*\
 * #HEADER
\*-----------------------------------*/

.header {
    background: var(--pearly-white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: var(--transition-1);
    z-index: 4;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.overlay {
    position: fixed;
    inset: 0;
    background: hsla(0, 0%, 0%, 0.6);
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
}

.departamento {
    background: linear-gradient(to right, #6a3093, #a044ff);
    text-align: center;
    padding: 3px 0;
    position: fixed;
    width: 100%;
}


/*-----------------------------------*\
 * #CONTACT FORM
\*-----------------------------------*/

section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}

section h2 {
    color: var(--absolute-black);
    font-size: 3rem;
    margin: 2rem;
}

section form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form input {
    padding: 15px;
    outline: none;
    border: 0;
    margin-bottom: 20px;
    border-radius: 20px;
    font-size: 15px;
    transition: all 0.5s;
}


form textarea {
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    border-radius: 20px;
    margin-bottom: 30px;
    transition: all 0.5s;
    font-family: var(--ff-roboto);
}

form button {
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    background: transparent;
    border-radius: 20px;
    border: 2px solid var(--pure-white);
    transition: all 1s;
    margin-bottom: 20px;
}

form button:hover {
    background: var(--pure-white);
    border-radius: 16px;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--soft-ice-white);
    flex-direction: column;
}

.text {
    font-size: 45px;
    color: var(--absolute-black);
    margin-bottom: 30px;
}

.paragrafo {
    color: var(--absolute-black);
    margin-bottom: 50px;
}

ion-icon {
    color: var(--deep-purple);
    width: 30px;
    height: 30px;
    padding: 0px 10px 0px;
}


/*-----------------------------------*\
 * #FOOTER
\*-----------------------------------*/

.underFooter {
    font-family: var(--ff-roboto);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-top {
    display: flex;
    background: var(--elegant-ivory);
}

.footer-brand {
    padding-bottom: 2px;
    border-bottom: 1px solid var(--whispering-white);
}

.footer-brand .logo {
    margin-bottom: 15px;
}

.footer-bottom {
    display: flex;
    background: linear-gradient(to right, #6a3093, #a044ff);
    padding-top: 23px;
    padding: 15px;
}

.copyright {
    text-align: center;
    font-family: var(--ff-roboto);
    color: var(--pure-white);
    font-size: 1.1rem;
}

.copyright-link {
    display: inline-block;
    color: var(--deep-purple);
}

.container {
    max-width: 1290px;
    width: 50%;
    margin: 0 auto;
}

.footer-brand .logo {
    margin-bottom: 0;
}

.footer-brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.link-box li{
    list-style-type: none;
    padding: 6px 10px 0px;
    font-size: 20px;
}

.list-contact h1{
    font-size: 40px;
    display: flex;
    padding: 10px;

}

.social-midea{
    display: flex;
    margin: 10px;
}

ion-icon {
    width: 30px;
    height: 30px;
    padding: 0px 10px 0px;
}