body{
    background-color: #f5f5f5;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.area-login{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.login{
    background-color: #007bff;
    border-radius: 10px;
    width: 355px;
    height: 320px;
    padding: 35px;
}

.login form{
    display: flex;
    flex-direction: column;
}

.login input{
    margin-top: 10px;
    background-color: #ffffff;
    color: #333333;
    border: none;
    height: 40px;
    outline: none;
    border-radius: 8px;
    padding-left: 10px;
}

.input::placeholder{
    color: wheat;
    font-size: 14px;
}

form [type="submit"]{
    display: block;
    background-color: orange;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

}
h1{
    color:#FFD700;
    text-transform: uppercase;
    font-family: 'Nunito', sans-serif;
}

p{
    color: white;
}

a{
    color: #666666;
    text-decoration: none;
    margin-left: 10px;
}