:root {
    --underline-height: .5em;
    --transition-duration : .5s;
    }
  
    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
  
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }
    body {
      min-height: 100%;
      background: #e3f2fd;
    }
    
    
    nav {
      position: fixed;
      top: 0;
      left: 0;
      height: 70px;
      width: 100%;
      display: flex;
      align-items: center;
      background: #fff;
      box-shadow: 0px 4px 14px -4px rgba(0, 0, 0, 0.25);      
    }
    nav .logo {
      display: flex;
      align-items: center;
      margin: 0 24px;
    }
    .logo .menu-icon {
      color: #333;
      font-size: 24px;
      margin-right: 14px;
      cursor: pointer;
    }
  
    .logo .logo-name {
      color: #333;
      font-size: 22px;
      font-weight: 500;
    }
  
    nav .sidebar {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100%;
      width: 260px;
      padding: 20px 0;
      background-color: #fff;
      box-shadow: 0 5px 1px rgba(0, 0, 0, 0.1);
      transition: all 0.4s ease;
    }
  
    nav.open .sidebar {
      left: 0;
    }
  
    .sidebar .sidebar-content {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-between;
      padding: 30px 16px;
    }
  
    .sidebar-content .list {
      list-style: none;
    }
  
    .list .nav-link {
      display: flex;
      align-items: center;
      margin: 8px 0;
      padding: 14px 12px;
      border-radius: 8px;
      text-decoration: none;
    }
    .lists .nav-link:hover {
      background-color: #b1c6ff;
    }
    .nav-link .icon {
      margin-right: 14px;
      font-size: 20px;
      color: #707070;
    }
    .nav-link .link {
      font-size: 16px;
      color: #707070;
      font-weight: 400;
    }
    .lists .nav-link:hover .icon,
    .lists .nav-link:hover .link {
      color: #fff;
    }
    .overlay {
      position: fixed;
      top: 0;
      left: -100%;
      height: 1000vh;
      width: 200%;
      opacity: 0;
      pointer-events: none;
      transition: all 0.4s ease;
      background: rgba(0, 0, 0, 0.3);
    }
    nav.open ~ .overlay {
      opacity: 1;
      left: 260px;
      pointer-events: auto;
    }
    
    img {
      width: 80px;
      position: absolute;
      right: 30px;
      top: 15px;
    }
    
    /* style da home */
    
    .conceitoMOvel{
      width: 500px; 
      margin-left: auto;
      margin-right: auto; 
      font-size: 20px;
    }
  
    /* TABELAS CONTATO :  */
  
    .limiter {
      display: flex;
      justify-content: center;
      font-size: 20px;
      margin-top: 70px;
      width: 1000px;
      height: 1000px;
    } 
  
    a{
      margin:0;
      transition:all .4s;
      -webkit-transition:all .4s;
      -o-transition:all .4s;
      -moz-transition:all .4s
    }
  
    a:focus{
      outline:none!important;
    }
  
    a:hover{
      text-decoration:none;
    }
  
    h1,h2,h3,h4,h5,h6{
      margin:0;
    }
  
    p{
      margin:0;
    }
  
    ul,li{
      margin:0;
      list-style-type:none;
    }
      
    input{
      display:block;
      outline:none;
      border:none!important;
    }
  
    textarea{
      display:block;
      outline:none;
    }
      
    textarea:focus,input:focus{
      border-color:transparent!important;
    }
  
    button{
      outline:none!important;
      border:none;
      background:0 0;
    }
  
    button:hover{
      cursor:pointer
    }
  
    iframe{
      border:none!important
    }
  
    .limiter{
      width:100%;
      margin:0 auto
    }
  
    .container-table100{
      width:100%;
      min-height:100vh;
      display:-webkit-box;
      display:-webkit-flex;
      display:-moz-box;
      display:-ms-flexbox;
      display:flex;
      align-items:center;
      justify-content:center;
      flex-wrap:wrap;
      padding:33px 30px
    }
      
    .wrap-table100{
        width:1170px
    }
      
    table{
      border-spacing:1;
      border-collapse:collapse;
      background:#fff;
      border-radius:10px;
      overflow:hidden;
      width:100%;
      margin:0 auto;
      position:relative;
    }
   
  
    table *{
          position:relative;
    }
    
    table td,table th{
        padding-left:8px;
    }
    
    table thead tr{
        height:60px;
        background:#36304a;
    }
    
    table tbody tr{
        height:50px;
    }
    
    table tbody tr:last-child{
        border:0;
    }
    
    table td, table th{
        text-align:center;
    }
    
    table td.l,table th.l{
        text-align:center;
    }
    
    table td.c,table th.c{
        text-align:center;
    }
  
    table td.r,table th.r{
      text-align:center;
    }
  
    .table100-head th {
      font-family: Poppins;
      font-size:18px;
      color:#fff;
      line-height:1.2;
      font-weight:unset;
    }
  
    tbody tr:nth-child(even){
      background-color:#f5f5f5;
    }
  
    tbody tr{
      font-family:Poppins;
      font-size:13px;
      color:gray;
      line-height:1.2;
      font-weight:unset;
    }
  
    tbody tr:hover{
      color:#555;
      background-color:#f5f5f5;
      cursor:pointer;
    }
  
    .column1{
      width:260px;
      padding-left:40px;
    }
  
    .column2{
      width:160px;
    }
  
    .column3{
      width:245px;
    }
  
    .column4{
      width:110px;
      text-align:right;
    }
  
    .column5{width:170px;
      text-align:right;
    }
  
    .column6{
      width:222px;
      text-align:right;
      padding-right:62px;
    }
  
    .container-table100{
      padding-left:15px;
      padding-right:15px;
      margin-top: 60px;
    }
  
    /* NAVBAR CLUSTERS */
    
    
    .underline {
      display: block;
      position:absolute;
      font-family: system-ui, sans-serif;
      z-index:10;
      bottom: 0;
      left: 50;
      height: var(--underline-height);
      width: 20%;
      background: #4070f4;
      pointer-events:none;
      mix-blend-mode: multiply;
      transition: transform var(--transition-duration) ease-in-out;
      }
  
      &:nth-child(1) {
        background: #eef2ff;
        transition: calc(var(--transition-duration) * .8);
      }
      &:nth-child(2) {
        background: #4070f4;
        transition: calc(var(--transition-duration) * 1.2);
      }
      &:nth-child(3) {
        background: #4070f4;
      }
    
    .editcluster {
      display: inline-block;
      z-index: 10;
      width: 19%;
      padding: 1em 0;
      font-family: system-ui, sans-serif;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      color: black;
    } 
    
    .black {
      position: relative;
      white-space: nowrap;
      background: white;
      padding: var(--underline-height) 0;
      margin: 2em 0;
      box-shadow: 0 1em 2em rgba(#4070f4, .05);
      font-family: system-ui, sans-serif;
      margin-top: -940px;
      width: 100%;
      right: auto;
    }
  
    .underline {
        background: #222;
        border-radius: .25em;
        font-family: system-ui, sans-serif;
        height: calc(var(--underline-height) / 2);
        mix-blend-mode: initial;
    }
    